<div class="container">
  <ul class="nav nav-pills navbar-static-top">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Your Profile <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <form action="/logins/delete" method ="post">
          <li><a href="/users/<%= session["user_id"] %>">View</a></li>
          <li><a href="/users/<%= session["user_id"] %>/edit">Edit</a></li>
          <li><a href="/users/<%= session["user_id"] %>">My Pledges</a></li>
          <li><input type="Submit" value="Log Out"></input></li>
        </form>
      </ul>
    </li>

    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Gifts <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/gifts">Find A Gift</a></li>
        <li><a href="/gifts/new">Add New Gift</a></li>
        <li><a href="/users/<%= session["user_id"] %>">See Your Gifts</a></li>
      </ul>
    </li>
  </ul>
</div> 




<div class="container">
  <p>Hi, <%= @user.name %>!</p>
  <br>
  <p><a href="/gifts/new">Create a new gift</a></p>
  <br>
  <% if @created_gifts %>
    <p><b>View gift pools you've created:</b></p>
    <% @created_gifts.each do |gift| %>
      <p><b>Gift:</b> <a href="/gifts/<%=gift.id%>"><%= gift.title%></a>
       // <b>For:</b> <%= gift.recipient %> // <b>Funded?</b> <%= gift.funded%></ p>
    <% end %>
  <% end %>
  <br>
  <% if @pledged_gifts %>
    <p><b>View gift contributions you've made:</b></p>
    <% @pledged_gifts.each do |gift| %>
      <p><b>Gift:</b> <a href="/gifts/<%=gift.id%>"><%= gift.title%></a>
       // <b>For:</b> <%= gift.recipient %> // <b>Funded?</b> <%= gift.funded%></p>
    <% end %>
  <% end %>
</div>

<br>  
<p><a href="/users/<%= @user.id %>/edit">Update your profile</a></p>
<br>
<p><a href="/">Home</a></p>
<br>
<form action="/logins/delete" method ="post">
<input type="Submit" value="Log Out"></input>
</form>  

