<p><b>Gift title:</b> <%= @gift.title %></p>
<p><b>This present is for:</b>  <%= @gift.recipient %></p>
<p><b>Description:</b>  <%= @gift.description %></p>
<p><b>Link:</b>  <%= @gift.link %></p>
<p><b>Cost:</b>  <%= @gift.cost %></p>
<p><b>Funded yet?</b>  <%= @gift.funded %></p>
<br>
<br>
<p><a href="/">Home</a></p>

<form action="/logins/delete" method ="post">
<input type="Submit" value="Log Out"></input>
</form>
