<p><b>Gift title:</b> <%= @gift.title %></p>
<p><b>This present is for:</b>  <%= @gift.recipient %></p>
<p><b>Description:</b>  <%= @gift.description %></p>
<p><b>Link:</b>  <%= @gift.link %></p>
<p><b>Cost:</b>  <%= '%.2f' % @gift.cost %></p>
<p><b>Pledges:</b>
  <%@pledges.each do |x|%>
    <p><%= x[0] %> pledged <%= '%.2f' % x[-1] %></p>
  <% end %>

  Total = <%= '%.2f' % @total%> (Remaining: <%= @remaining%>)
</p>
<p><b>Funded yet?</b>  <%= @gift.funded %></p>
<br>
<form action="/pledges/create" method="post">
  <fieldset>
    <legend>Create a new pledge</legend>
    <br>Amount: <br>
    <input type="integer" name="amount"> <br><br>    
    <input type="hidden" name="gift" value="<%=@gift.id%>"><br><br>
    <input type="submit">
  </fieldset>
</form>
<br>
<p><a href="/">Home</a></p>

<form action="/logins/delete" method ="post">
<input type="Submit" value="Log Out"></input>
</form>
