<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>My Site</title>

    
      <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
      <link href="/css/toolkit-minimal.css" rel="stylesheet">

      <!-- Your own CSS can go here. -->
  </head>


<body>
<div class="container header">
  <ul class="nav nav-pills navbar-static-top">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"
        <%if session["current_page"] == "/users"%>
          <%= "class='dropdown active'>"%>
        <% else %>
          <%= "class='dropdown'>"%>
        <%end%>
        
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Your Profile <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <form action="/logins/delete" method ="post">
          <li><a href="/users/<%= session["user_id"] %>">View</a></li>
          <li><a href="/users/<%= session["user_id"] %>/edit">Edit</a></li>
          <li><a href="/users/<%= session["user_id"] %>">My Pledges</a></li>
          <li><input type="Submit" value="Log Out"></input></li>
        </form>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Gifts <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/gifts">Find A Gift</a></li>
        <li><a href="/gifts/new">Add New Gift</a></li>
        <li><a href="/users/<%= session["user_id"] %>">See Your Gifts</a></li>
      </ul>
    </li>
  </ul>
</div>
  <%= yield %>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/toolkit.js"></script>
  <script src="/js/application.js"></script>

  <!-- Your own JS can go here. -->
</body>

</html>